// Styling for the masthead
header.masthead {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - #{$navbar-height});
  // Image by rawpixel from Pixabay
  background: linear-gradient(to bottom, #{fade-out($shadow, .5)} 0%,#{fade-out($shadow, .5)} 100%), url('../img/bg-masthead.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    font-size: 2.25rem;
  }
  @include media-breakpoint-up(lg) {

    min-height: 40rem;
    padding-top: $navbar-height;
    padding-bottom: 0;
    p {
      font-size: 1.15rem;
    }
    h1 {
      font-size: 3rem;
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      font-size: 2.5rem;
    }
  }
}
